Repository project-tsurugi/tateyama, changes with the owners that .github/CODEOWNERS names for each.
All owners: @t-horikawa, @project-tsurugi/ci-maintainers, @kuron99

.github/CODEOWNERS:

* @t-horikawa

/.github/ @project-tsurugi/ci-maintainers

/include/tateyama/task_scheduler/
/include/tateyama/task_scheduler/ @kuron99
/test/tateyama/task_scheduler/
/test/tateyama/task_scheduler/ @kuron99
/examples/task_scheduler_cli/
/examples/task_scheduler_cli/ @kuron99

refacter some tests using test_request and test_reaponse
  test/tateyama/datastore/datastore_test.cpp
  test/tateyama/framework/router_test.cpp
Owners: @t-horikawa

add optional parameter, writer_count, to response::acquire_channel() and eliminate unnecessary functions
  bench/data_channel_write/data_channel_write.cpp
  include/tateyama/api/server/response.h
  src/tateyama/endpoint/ipc/bootstrap/ipc_listener.h
  src/tateyama/endpoint/ipc/bootstrap/ipc_worker.cpp
  src/tateyama/endpoint/ipc/bootstrap/ipc_worker.h
  src/tateyama/endpoint/ipc/ipc_response.cpp
  src/tateyama/endpoint/ipc/ipc_response.h
  src/tateyama/endpoint/loopback/loopback_response.cpp
  src/tateyama/endpoint/loopback/loopback_response.h
  src/tateyama/endpoint/stream/stream_response.cpp
  src/tateyama/endpoint/stream/stream_response.h
  test/tateyama/endpoint/ipc/ipc_info_test.cpp
  test/tateyama/endpoint/ipc/ipc_resultset_multi_test.cpp
  test/tateyama/endpoint/ipc/ipc_resultset_oneshot_test.cpp
  test/tateyama/endpoint/ipc/ipc_resultset_skew_test.cpp
  test/tateyama/endpoint/ipc/ipc_resultset_writer_limit_test.cpp
  test/tateyama/endpoint/ipc/ipc_session_test.cpp
  test/tateyama/endpoint/ipc/ipc_store_test.cpp
  test/tateyama/endpoint/ipc/ipc_test_utils.h
  test/tateyama/endpoint/loopback/loopback_response_test.cpp
  test/tateyama/endpoint/response_only_test.cpp
  test/tateyama/endpoint/result_set_limit_test.cpp
  test/tateyama/endpoint/result_set_test.cpp
  test/tateyama/endpoint/writer_limit_test.cpp
  test/tateyama/loopback/loopback_client_test.cpp
  test/tateyama/utils/request_response.h
Owners: @t-horikawa

add limit check for writer_count given to response::acquire_channel()
  src/tateyama/endpoint/ipc/ipc_response.cpp
  src/tateyama/endpoint/loopback/loopback_response.cpp
  src/tateyama/endpoint/stream/stream_response.cpp
Owners: @t-horikawa

fix typo in loopback_response.cpp
  src/tateyama/endpoint/loopback/loopback_response.cpp
Owners: @t-horikawa

implement blob
  include/tateyama/api/server/blob_info.h
  include/tateyama/api/server/request.h
  include/tateyama/api/server/response.h
  src/tateyama/endpoint/common/endpoint_proto_utils.h
  src/tateyama/endpoint/common/request.h
  src/tateyama/endpoint/common/response.h
  src/tateyama/endpoint/ipc/ipc_request.cpp
  src/tateyama/endpoint/ipc/ipc_request.h
  src/tateyama/endpoint/ipc/ipc_response.cpp
  src/tateyama/endpoint/loopback/loopback_request.h
  src/tateyama/endpoint/loopback/loopback_response.h
  src/tateyama/endpoint/stream/stream_request.cpp
  src/tateyama/endpoint/stream/stream_request.h
  src/tateyama/endpoint/stream/stream_response.cpp
  src/tateyama/proto/framework/common.proto
  src/tateyama/proto/framework/request.proto
  src/tateyama/proto/framework/response.proto
  test/tateyama/utils/request_response.h
Owners: @t-horikawa

change parameter name writer_count to max_writer_count
  include/tateyama/api/server/response.h
  src/tateyama/endpoint/ipc/ipc_response.cpp
  src/tateyama/endpoint/ipc/ipc_response.h
  src/tateyama/endpoint/loopback/loopback_response.cpp
  src/tateyama/endpoint/loopback/loopback_response.h
  src/tateyama/endpoint/stream/stream_response.cpp
  src/tateyama/endpoint/stream/stream_response.h
Owners: @t-horikawa

fix scheduler_test to use atomic and mutex correctly
  test/tateyama/task_scheduler/scheduler_test.cpp
Owners: @kuron99

fix testcase for conditional scheduler
  test/tateyama/task_scheduler/conditional_schedule_test.cpp
Owners: @kuron99

add blob-ipc-design_ja.md and blob-store-design_ja.md to docs/internal
  docs/internal/blob-ipc-design_ja.md
  docs/internal/blob-store-design_ja.md
Owners: @t-horikawa

add ipc_lob_test
  src/tateyama/endpoint/common/endpoint_proto_utils.h
  test/tateyama/endpoint/header_utils.h
  test/tateyama/endpoint/ipc/ipc_client.cpp
  test/tateyama/endpoint/ipc/ipc_client.h
  test/tateyama/endpoint/ipc/ipc_lob_test.cpp
Owners: @t-horikawa

add mock server for smoke tests
  CMakeLists.txt
  include/tateyama/api/configuration.h
  mock/CMakeLists.txt
  mock/jogasaki/proto/sql/common.proto
  mock/jogasaki/proto/sql/error.proto
  mock/jogasaki/proto/sql/request.proto
  mock/jogasaki/proto/sql/response.proto
  mock/jogasaki/serializer/base128v.cpp
  mock/jogasaki/serializer/base128v.h
  mock/jogasaki/serializer/details/value_io_constants.h
  mock/jogasaki/serializer/entry_type.h
  mock/jogasaki/serializer/namespace.h
  mock/jogasaki/serializer/value_input.cpp
  mock/jogasaki/serializer/value_input.h
  mock/jogasaki/serializer/value_input_exception.cpp
  mock/jogasaki/serializer/value_input_exception.h
  mock/jogasaki/serializer/value_output.cpp
  mock/jogasaki/serializer/value_output.h
  mock/jogasaki/serializer/value_writer.h
  mock/tateyama/server/glog_helper.h
  mock/tateyama/server/mock_server.cpp
  mock/tateyama/server/mock_server.h
  mock/tateyama/service/mock_request_handlers.cpp
  mock/tateyama/service/mock_service.cpp
  mock/tateyama/service/mock_service.h
  mock/tateyama/service/test_pattern.h
  src/tateyama/endpoint/ipc/bootstrap/ipc_endpoint.h
  src/tateyama/endpoint/ipc/bootstrap/ipc_listener.h
  src/tateyama/endpoint/stream/bootstrap/stream_endpoint.h
  src/tateyama/endpoint/stream/bootstrap/stream_listener.h
Owners: @t-horikawa

revise README.md
  README.md
Owners: @t-horikawa

fix Clang-Tidy warnings
  include/tateyama/api/configuration.h
Owners: @t-horikawa

slightly improve mock message output
  mock/tateyama/service/mock_request_handlers.cpp
Owners: @t-horikawa

improve readability of mock_request_handlers.cpp
  mock/tateyama/service/mock_request_handlers.cpp
Owners: @t-horikawa

improve testing capabilities with the mock server
  mock/tateyama/service/mock_request_handlers.cpp
  mock/tateyama/service/mock_service.cpp
  mock/tateyama/service/mock_service.h
Owners: @t-horikawa

reviewed communications regarding blob/clob
  mock/tateyama/service/mock_request_handlers.cpp
Owners: @t-horikawa

add LargeObjectCache class to blob-ipc-design_ja.md
  docs/internal/blob-ipc-design_ja.md
Owners: @t-horikawa

update sql proto. files to be the same as jogasaki
  mock/jogasaki/proto/sql/common.proto
  mock/jogasaki/proto/sql/response.proto
Owners: @t-horikawa

refine mock_request_handlers.cpp
  mock/tateyama/service/mock_request_handlers.cpp
Owners: @t-horikawa

build: fix RPATH settings to work even if libdir is not "lib"
  examples/task_scheduler_cli/CMakeLists.txt
  examples/thread_affinity_cli/CMakeLists.txt
  mock/CMakeLists.txt
  src/CMakeLists.txt
Owners: @kuron99, @t-horikawa

docs: add config. parameter for blob casting
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa

enhance mock_server to add fault injection
  mock/CMakeLists.txt
  mock/tateyama/faulty_service/mock_faulty_request_handlers.cpp
  mock/tateyama/faulty_service/mock_faulty_service.cpp
  mock/tateyama/faulty_service/mock_faulty_service.h
  mock/tateyama/server/mock_server.cpp
Owners: @t-horikawa

revise mock_server for fault injection mode
  mock/tateyama/faulty_service/mock_faulty_request_handlers.cpp
  mock/tateyama/server/mock_server.cpp
Owners: @t-horikawa

add max_result_set_writers and excess check
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa

fix comment
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa

fix comment
  docs/config_parameters.md
Owners: @t-horikawa

fix comment
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa

fix comment
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa

build: change back to using leveldb when building dependent module limestone
  .github/actions/install-dependencies/action.yml
Owners: @project-tsurugi/ci-maintainers

feat: call backup completion notification of backup and backup_detail classes in limestone
  src/tateyama/datastore/service/core.cpp
Owners: @t-horikawa

introduce add_core_components_for_test()
  test/tateyama/altimeter/altimeter_test.cpp
  test/tateyama/endpoint/ipc/server_client_base.cpp
  test/tateyama/framework/framework_test.cpp
  test/tateyama/framework/router_test.cpp
  test/tateyama/loopback/loopback_client_test.cpp
  test/tateyama/metrics/resource/metrics_bridge_test.cpp
  test/tateyama/request/service/request_bridge_test.cpp
  test/tateyama/session/session_gc_test.cpp
  test/tateyama/session/session_test.cpp
  test/tateyama/utils/test_server.h
  test/tateyama/utils/test_utils.h
Owners: @t-horikawa

introduce add_core_components_for_test()
  test/tateyama/altimeter/altimeter_test.cpp
  test/tateyama/api/configuration_test.cpp
  test/tateyama/datastore/datastore_test.cpp
  test/tateyama/debug/debug_service_test.cpp
  test/tateyama/endpoint/ipc/ipc_test_env.h
  test/tateyama/endpoint/ipc/ipc_test_utils.h
  test/tateyama/endpoint/ipc/server_client_base.cpp
  test/tateyama/endpoint/loopback/loopback_test_base.h
  test/tateyama/framework/framework_test.cpp
  test/tateyama/framework/router_test.cpp
  test/tateyama/framework/server_test.cpp
  test/tateyama/framework/transactional_kvs_test.cpp
  test/tateyama/loopback/loopback_client_test.cpp
  test/tateyama/metrics/metrics_aggregation_test.cpp
  test/tateyama/metrics/metrics_resource_test.cpp
  test/tateyama/metrics/resource/metrics_bridge_test.cpp
  test/tateyama/request/service/request_bridge_test.cpp
  test/tateyama/session/session_gc_test.cpp
  test/tateyama/session/session_test.cpp
  test/tateyama/test_utils/protobuf_utils_test.cpp
  test/tateyama/test_utils/request_response.h
  test/tateyama/test_utils/temporary_folder.h
  test/tateyama/test_utils/test_server.h
  test/tateyama/test_utils/utility.h
Owners: @t-horikawa

update sql proto. files to be the same as jogasaki
  mock/jogasaki/proto/sql/request.proto
Owners: @t-horikawa

enhance error handling in blob privileged mode
  include/tateyama/status.h
  src/tateyama/endpoint/common/request.h
  src/tateyama/endpoint/common/response.h
  src/tateyama/endpoint/common/worker_common.h
  src/tateyama/endpoint/common/worker_configuration.h
  src/tateyama/endpoint/ipc/bootstrap/ipc_listener.h
  src/tateyama/endpoint/ipc/bootstrap/ipc_worker.cpp
  src/tateyama/endpoint/ipc/bootstrap/ipc_worker.h
  src/tateyama/endpoint/ipc/ipc_request.h
  src/tateyama/endpoint/ipc/ipc_response.h
  src/tateyama/endpoint/stream/bootstrap/stream_listener.h
  src/tateyama/endpoint/stream/bootstrap/stream_worker.cpp
  src/tateyama/endpoint/stream/bootstrap/stream_worker.h
  src/tateyama/endpoint/stream/stream_request.h
  src/tateyama/endpoint/stream/stream_response.h
  test/tateyama/endpoint/ipc/ipc_info_test.cpp
  test/tateyama/endpoint/ipc/ipc_lob_disallow_test.cpp
  test/tateyama/endpoint/ipc/ipc_session_test.cpp
  test/tateyama/endpoint/ipc/ipc_store_test.cpp
  test/tateyama/endpoint/response_only_test.cpp
  test/tateyama/endpoint/result_set_limit_test.cpp
  test/tateyama/endpoint/result_set_test.cpp
  test/tateyama/endpoint/stream/stream_decline_test.cpp
  test/tateyama/endpoint/stream/stream_info_test.cpp
  test/tateyama/endpoint/stream/stream_session_test.cpp
  test/tateyama/endpoint/stream/stream_store_test.cpp
  test/tateyama/endpoint/writer_limit_test.cpp
  test/tateyama/test_utils/utility.h
Owners: @t-horikawa

alter SHARKSFIN_IMPLEMENTATION default to shirakami
  CMakeLists.txt
  README.md
Owners: @t-horikawa

enhance mock to allow testing for errors
  mock/tateyama/server/mock_server.cpp
  mock/tateyama/service/mock_request_handlers.cpp
  mock/tateyama/service/mock_service.h
  mock/tateyama/service/test_pattern.h
Owners: @t-horikawa

fix info of max_result_set_writers
  docs/config-parameters-en.md
Owners: @t-horikawa

Revert "build: change back to using leveldb when building dependent module limestone"
  .github/actions/install-dependencies/action.yml
Owners: @project-tsurugi/ci-maintainers

docs: enable blob casting by default
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa
