Repository project-tsurugi/tateyama, changes with the owners that .github/CODEOWNERS names for each.
All owners: @t-horikawa, @project-tsurugi/ci-maintainers, @kuron99

.github/CODEOWNERS:

* @t-horikawa

/.github/ @project-tsurugi/ci-maintainers

/include/tateyama/task_scheduler/
/include/tateyama/task_scheduler/ @kuron99
/test/tateyama/task_scheduler/
/test/tateyama/task_scheduler/ @kuron99
/examples/task_scheduler_cli/
/examples/task_scheduler_cli/ @kuron99

build: show libmpdec++.so location as find_package(mpdecpp)
  cmake/Findmpdecpp.cmake
Owners: @t-horikawa

fix clang-tidy warning
  src/tateyama/proto/system/diagnostic.proto
  src/tateyama/proto/system/response.proto
  src/tateyama/system/service/info_handler.h
Owners: @t-horikawa

add docs/internal/system-information_ja.md
  docs/internal/system-information_ja.md
Owners: @t-horikawa

remove an unused private field
  src/tateyama/system/service/bridge.h
Owners: @t-horikawa

revise error message from system service
  src/tateyama/system/service/bridge.cpp
  src/tateyama/system/service/info_handler.h
Owners: @t-horikawa

change directory name for include of data-relay-grpc repository from data-relay-grpc to data_relay_grpc
  include/tateyama/grpc/blob_relay_service_resource.h
  src/tateyama/grpc/blob_relay/blob_relay_service.h
Owners: @t-horikawa

add grpc_server and blob_relay section to config-parameters-en.md and config_parameters.md
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa

correct grpc_server and blob_relay section in docs/config-parameters-en.md and docs/config_parameters.md
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa

add dev_accept_mock_tag to the documentation
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa

build: set CMP0167 to NEW to suppress FindBoost warning
  CMakeLists.txt
Owners: @t-horikawa

add INSTALL_API_ONLY flag to CMakeLists.txt to install only public header files without build tateyama
  CMakeLists.txt
  README.md
Owners: @t-horikawa

set GRPC_ARG_ALLOW_REUSEPORT of gRPC server to 0 (off)
  src/tateyama/grpc/server/server.cpp
Owners: @t-horikawa

do not start tsurugidb upon encountering double-start error with gRPC server
  src/tateyama/grpc/server/server.cpp
Owners: @t-horikawa

do not start tsurugidb upon encountering double-start error with gRPC server (revised)
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/server/server.cpp
  src/tateyama/grpc/server/server.h
Owners: @t-horikawa

fix Clang-Tidy warning
  src/tateyama/grpc/server/server.h
Owners: @t-horikawa

implement configuration_provider and alter database_info to provide instance_id
  include/tateyama/api/server/database_info.h
  include/tateyama/configuration/configuration_provider.h
  include/tateyama/framework/component_ids.h
  src/CMakeLists.txt
  src/tateyama/configuration/resource/configuration_provider_impl.cpp
  src/tateyama/configuration/resource/configuration_provider_impl.h
  src/tateyama/framework/server.cpp
  src/tateyama/status/resource/bridge.cpp
  src/tateyama/status/resource/database_info_impl.h
  test/tateyama/endpoint/ipc/ipc_info_test.cpp
  test/tateyama/endpoint/ipc/ipc_lob_disallow_test.cpp
  test/tateyama/endpoint/ipc/ipc_lob_test.cpp
  test/tateyama/endpoint/ipc/ipc_session_test.cpp
  test/tateyama/endpoint/ipc/ipc_store_test.cpp
  test/tateyama/endpoint/stream/stream_decline_test.cpp
  test/tateyama/endpoint/stream/stream_info_test.cpp
  test/tateyama/endpoint/stream/stream_session_test.cpp
  test/tateyama/endpoint/stream/stream_store_test.cpp
Owners: @t-horikawa

move database_info_impl to tateyama::configuration::resource
  include/tateyama/status/resource/bridge.h
  src/tateyama/configuration/resource/configuration_provider_impl.cpp
  src/tateyama/configuration/resource/configuration_provider_impl.h
  src/tateyama/configuration/resource/database_info_impl.h
  src/tateyama/datastore/resource/bridge.cpp
  src/tateyama/endpoint/common/request.h
  src/tateyama/endpoint/ipc/bootstrap/ipc_listener.h
  src/tateyama/endpoint/loopback/loopback_request.h
  src/tateyama/endpoint/stream/bootstrap/stream_listener.h
  src/tateyama/framework/server.cpp
  src/tateyama/status/resource/bridge.cpp
  src/tateyama/status/resource/core.cpp
  test/CMakeLists.txt
  test/tateyama/configuration/configuration_provider_test.cpp
  test/tateyama/datastore/datastore_test.cpp
  test/tateyama/endpoint/ipc/ipc_info_test.cpp
  test/tateyama/endpoint/ipc/ipc_lob_disallow_test.cpp
  test/tateyama/endpoint/ipc/ipc_lob_test.cpp
  test/tateyama/endpoint/ipc/ipc_session_test.cpp
  test/tateyama/endpoint/ipc/ipc_store_test.cpp
  test/tateyama/endpoint/response_only_test.cpp
  test/tateyama/endpoint/result_set_limit_test.cpp
  test/tateyama/endpoint/result_set_test.cpp
  test/tateyama/endpoint/stream/stream_decline_test.cpp
  test/tateyama/endpoint/stream/stream_info_test.cpp
  test/tateyama/endpoint/stream/stream_session_test.cpp
  test/tateyama/endpoint/stream/stream_store_test.cpp
  test/tateyama/endpoint/writer_limit_test.cpp
  test/tateyama/framework/router_test.cpp
  test/tateyama/test_utils/request_response.h
  test/tateyama/test_utils/test_server.h
  test/tateyama/test_utils/utility.h
Owners: @t-horikawa

apply Copilot comments
  src/tateyama/configuration/resource/configuration_provider_impl.cpp
  src/tateyama/configuration/resource/configuration_provider_impl.h
  src/tateyama/datastore/resource/bridge.cpp
  test/tateyama/test_utils/utility.h
Owners: @t-horikawa

temporarily disable commit e41f38566f5e90d055e0cb2d3b40f2b4e8edcd51
  src/tateyama/grpc/server/server.cpp
Owners: @t-horikawa

Revert "temporarily disable commit e41f38566f5e90d055e0cb2d3b40f2b4e8edcd51", means enables it
  src/tateyama/grpc/server/server.cpp
Owners: @t-horikawa

follow new limestone::api::configuration API
  src/tateyama/datastore/resource/bridge.cpp
Owners: @t-horikawa

test: supply configuration_provider for datastore resource
  test/tateyama/datastore/datastore_test.cpp
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

add instance_id to altimeter log
  src/tateyama/endpoint/altimeter/logger.h
  src/tateyama/framework/altimeter_logger.h
  src/tateyama/framework/server.cpp
Owners: @t-horikawa

return an error if configuration::configuration_provider cannot be obtained in datastore::resource::bridge::setup()
  src/tateyama/datastore/resource/bridge.cpp
Owners: @t-horikawa

apply Copilot comments
  src/tateyama/framework/altimeter_logger.h
Owners: @t-horikawa

add an interface to receive TxID and TpmID from the client and notify limestone
  include/tateyama/datastore/resource/bridge.h
  src/tateyama/datastore/resource/bridge.cpp
  src/tateyama/datastore/service/core.cpp
  src/tateyama/proto/datastore/request.proto
  src/tateyama/proto/datastore/response.proto
Owners: @t-horikawa

add smv check to datastore service
  src/tateyama/datastore/service/core.cpp
Owners: @t-horikawa

fix datastore_test.cpp
  test/tateyama/datastore/datastore_test.cpp
Owners: @t-horikawa

add smv check to datastore service
  src/tateyama/datastore/resource/bridge.cpp
  src/tateyama/datastore/service/core.cpp
  test/tateyama/datastore/datastore_test.cpp
Owners: @t-horikawa

adjust dependency for guthub-ci
  .github/actions/install-dependencies/action.yml
Owners: @project-tsurugi/ci-maintainers

github-ci
  .github/actions/install-dependencies/action.yml
Owners: @project-tsurugi/ci-maintainers

avoid race condition with tasks put before starting scheduler (in testcases)
  include/tateyama/task_scheduler/impl/worker.h
  include/tateyama/task_scheduler/scheduler.h
Owners: @kuron99

add username to altimeter log
  src/tateyama/endpoint/altimeter/logger.h
Owners: @t-horikawa

genericized the gRPC server by separating it from the blob_relay_service
  CMakeLists.txt
  README.md
  include/tateyama/framework/component_ids.h
  include/tateyama/grpc/blob_relay/service_proxy.h
  include/tateyama/grpc/blob_relay_service_resource.h
  include/tateyama/grpc/server_resource.h
  src/CMakeLists.txt
  src/tateyama/framework/server.cpp
  src/tateyama/grpc/blob_relay/logging.h
  src/tateyama/grpc/blob_relay/service_handler.h
  src/tateyama/grpc/blob_relay/service_proxy.cpp
  src/tateyama/grpc/blob_relay/service_proxy_impl.cpp
  src/tateyama/grpc/blob_relay/service_proxy_impl.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/server.cpp
  src/tateyama/grpc/server.h
  src/tateyama/grpc/server/ping_service/ping_service.h
  src/tateyama/grpc/server/service_handler.h
  src/tateyama/grpc/server_resource.cpp
  src/tateyama/grpc/server_resource_impl.cpp
  src/tateyama/grpc/server_resource_impl.h
  test/CMakeLists.txt
  test/tateyama/grpc/blob_relay/blob_relay_service_proxy_test.cpp
Owners: @t-horikawa

Fix build on dist-tx-bench-2026: register blob_relay services
  src/tateyama/grpc/blob_relay/blob_relay_service.h
Owners: @t-horikawa

Revert "Fix build on dist-tx-bench-2026: register blob_relay services"
  src/tateyama/grpc/blob_relay/blob_relay_service.h
Owners: @t-horikawa

adjust dependency for guthub-ci (data-relay-grpc)
  .github/actions/install-dependencies/action.yml
Owners: @project-tsurugi/ci-maintainers

fix gRPC server behavior for when no service is registered
  src/tateyama/grpc/server.cpp
  src/tateyama/grpc/server.h
  src/tateyama/grpc/server_resource_impl.cpp
Owners: @t-horikawa

ci: introduce ctcache on Analysis job
  .github/workflows/ci-build.yml
Owners: @project-tsurugi/ci-maintainers

ci: skip CI jobs for markdown-only changes
  .github/workflows/ci-build.yml
Owners: @project-tsurugi/ci-maintainers
