Repository project-tsurugi/tateyama, changes with the owners that .github/CODEOWNERS names for each.
All owners: @t-horikawa, @project-tsurugi/ci-maintainers, @kuron99

.github/CODEOWNERS:

* @t-horikawa

/.github/ @project-tsurugi/ci-maintainers

/include/tateyama/task_scheduler/
/include/tateyama/task_scheduler/ @kuron99
/test/tateyama/task_scheduler/
/test/tateyama/task_scheduler/ @kuron99
/examples/task_scheduler_cli/
/examples/task_scheduler_cli/ @kuron99

fix ASAN stack-use-after-return error in ENABLE_ALTIMETER=ON case (test code change only)
  test/tateyama/endpoint/ipc/ipc_session_test.cpp
  test/tateyama/endpoint/ipc/ipc_store_test.cpp
  test/tateyama/endpoint/stream/stream_session_test.cpp
  test/tateyama/endpoint/stream/stream_store_test.cpp
Owners: @t-horikawa

connect the blob relay service to limestone
  include/tateyama/grpc/blob_session.h
  src/tateyama/grpc/blob_relay/blob_relay_service.h
Owners: @t-horikawa

integrate a blob-relay service
  CMakeLists.txt
  include/tateyama/datastore/resource/bridge.h
  include/tateyama/framework/component_ids.h
  include/tateyama/grpc/blob_relay_service_resource.h
  include/tateyama/grpc/blob_session.h
  src/CMakeLists.txt
  src/tateyama/datastore/resource/bridge.cpp
  src/tateyama/endpoint/ipc/bootstrap/ipc_listener.h
  src/tateyama/endpoint/stream/bootstrap/stream_listener.h
  src/tateyama/framework/server.cpp
  src/tateyama/grpc/blob_relay/blob_relay_service.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.h
  src/tateyama/grpc/logging.h
  src/tateyama/grpc/server/server.cpp
  src/tateyama/grpc/server/server.h
  src/tateyama/grpc/server/service_handler.h
Owners: @t-horikawa

revise .proto handling
  src/CMakeLists.txt
Owners: @t-horikawa

add a ping service to the gRPC server and configured it to be used for confirming the gRPC server startup
  CMakeLists.txt
  include/tateyama/grpc/blob_session.h
  src/CMakeLists.txt
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/server/ping_service/ping_service.h
  src/tateyama/grpc/server/server.cpp
  src/tateyama/proto/grpc/ping_service.proto
Owners: @t-horikawa

implement blob_session::remove() for std::vector and std::list
  include/tateyama/grpc/blob_session.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.cpp
  src/tateyama/grpc/blob_session_impl.h
Owners: @t-horikawa

start() of blob_relay_service_resource
  include/tateyama/grpc/blob_relay_service_resource.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
Owners: @t-horikawa

start() of blob_relay_service_resource
  include/tateyama/grpc/blob_relay_service_resource.h
  src/tateyama/grpc/blob_relay/blob_relay_service.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session_impl.h
Owners: @t-horikawa

WIP-1338
  .github/actions/install-dependencies/action.yml
  include/tateyama/datastore/resource/bridge.h
  src/tateyama/datastore/resource/bridge.cpp
  src/tateyama/framework/server.cpp
  src/tateyama/framework/transactional_kvs_resource.cpp
Owners: @project-tsurugi/ci-maintainers, @t-horikawa

fix-test
  include/tateyama/datastore/resource/bridge.h
  src/tateyama/framework/transactional_kvs_resource.cpp
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

add support for tcp/ip endpoints to accept alive check message
  src/tateyama/endpoint/common/endpoint_proto_utils.h
  src/tateyama/endpoint/common/request.h
  src/tateyama/endpoint/stream/stream.h
Owners: @t-horikawa

feat: add ENABLE_GRPC option available in cmake
  CMakeLists.txt
  README.md
  include/tateyama/grpc/blob_relay_service_resource.h
  include/tateyama/grpc/blob_session.h
  src/CMakeLists.txt
  src/tateyama/framework/server.cpp
  src/tateyama/grpc/blob_relay/blob_relay_service.h
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.cpp
  src/tateyama/grpc/blob_session_impl.h
  test/tateyama/datastore/datastore_test.cpp
  test/tateyama/test_utils/utility.h
Owners: @t-horikawa

ci: add data-relay-grpc to install-dependencies
  .github/actions/install-dependencies/action.yml
Owners: @project-tsurugi/ci-maintainers

fix Clang-Tidy warning
  include/tateyama/datastore/resource/bridge.h
  include/tateyama/grpc/blob_session.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.h
  src/tateyama/grpc/server/server.cpp
  src/tateyama/grpc/server/server.h
  test/tateyama/datastore/datastore_test.cpp
Owners: @t-horikawa

prepare for merge
  include/tateyama/grpc/blob_relay_service_resource.h
  src/CMakeLists.txt
  src/tateyama/grpc/blob_relay/blob_relay_service.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.cpp
  src/tateyama/grpc/blob_session_impl.h
  src/tateyama/grpc/server/server.cpp
  src/tateyama/grpc/server/server.h
Owners: @t-horikawa

fix Clang-Tidy warning
  include/tateyama/grpc/blob_session.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.h
  src/tateyama/grpc/server/server.cpp
  src/tateyama/grpc/server/server.h
Owners: @t-horikawa

preparation for direct access from Jogasaki
  include/tateyama/grpc/blob_relay_service_resource.h
  include/tateyama/grpc/blob_session.h
  src/tateyama/grpc/blob_relay/blob_relay_service.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.cpp
  src/tateyama/grpc/blob_session_impl.h
  test/tateyama/datastore/datastore_test.cpp
Owners: @t-horikawa

clean up the working directory after tests are finished
  test/tateyama/test_utils/utility.h
Owners: @t-horikawa

revise .proto handling
  src/CMakeLists.txt
Owners: @t-horikawa

start() of blob_relay_service_resource
  include/tateyama/grpc/blob_relay_service_resource.h
  src/tateyama/grpc/blob_relay/blob_relay_service.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session_impl.h
Owners: @t-horikawa

fix Clang-Tidy warning
  include/tateyama/datastore/resource/bridge.h
  include/tateyama/grpc/blob_session.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.h
  src/tateyama/grpc/server/server.cpp
  src/tateyama/grpc/server/server.h
  test/tateyama/datastore/datastore_test.cpp
Owners: @t-horikawa

preparation for direct access from Jogasaki
  include/tateyama/grpc/blob_relay_service_resource.h
  include/tateyama/grpc/blob_session.h
  src/tateyama/grpc/blob_relay/blob_relay_service.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.cpp
  src/tateyama/grpc/blob_session_impl.h
  test/tateyama/datastore/datastore_test.cpp
Owners: @t-horikawa

fix Clang-Tidy warning
  include/tateyama/grpc/blob_session.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.h
  src/tateyama/grpc/server/server.cpp
  src/tateyama/grpc/server/server.h
Owners: @t-horikawa

implement blob_session::remove() for std::vector and std::list
  include/tateyama/grpc/blob_session.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.cpp
  src/tateyama/grpc/blob_session_impl.h
Owners: @t-horikawa

feat: add ENABLE_GRPC option available in cmake
  CMakeLists.txt
  README.md
  include/tateyama/grpc/blob_relay_service_resource.h
  include/tateyama/grpc/blob_session.h
  src/CMakeLists.txt
  src/tateyama/framework/server.cpp
  src/tateyama/grpc/blob_relay/blob_relay_service.h
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.cpp
  src/tateyama/grpc/blob_session_impl.h
  test/tateyama/datastore/datastore_test.cpp
  test/tateyama/test_utils/utility.h
Owners: @t-horikawa

add a ping service to the gRPC server and configured it to be used for confirming the gRPC server startup
  CMakeLists.txt
  include/tateyama/grpc/blob_session.h
  src/CMakeLists.txt
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/server/ping_service/ping_service.h
  src/tateyama/grpc/server/server.cpp
  src/tateyama/proto/grpc/ping_service.proto
Owners: @t-horikawa

ci: add data-relay-grpc to install-dependencies
  .github/actions/install-dependencies/action.yml
Owners: @project-tsurugi/ci-maintainers

make datastore_test pass
  test/tateyama/datastore/datastore_test.cpp
  test/tateyama/test_utils/test_server.h
Owners: @t-horikawa

connect the blob relay service to limestone
  include/tateyama/grpc/blob_session.h
  src/tateyama/grpc/blob_relay/blob_relay_service.h
Owners: @t-horikawa

prepare for merge
  include/tateyama/grpc/blob_relay_service_resource.h
  src/CMakeLists.txt
  src/tateyama/grpc/blob_relay/blob_relay_service.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.cpp
  src/tateyama/grpc/blob_session_impl.h
  src/tateyama/grpc/server/server.cpp
  src/tateyama/grpc/server/server.h
Owners: @t-horikawa

integrate a blob-relay service
  CMakeLists.txt
  include/tateyama/datastore/resource/bridge.h
  include/tateyama/framework/component_ids.h
  include/tateyama/grpc/blob_relay_service_resource.h
  include/tateyama/grpc/blob_session.h
  src/CMakeLists.txt
  src/tateyama/datastore/resource/bridge.cpp
  src/tateyama/endpoint/ipc/bootstrap/ipc_listener.h
  src/tateyama/endpoint/stream/bootstrap/stream_listener.h
  src/tateyama/framework/server.cpp
  src/tateyama/grpc/blob_relay/blob_relay_service.h
  src/tateyama/grpc/blob_relay_service_resource.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/blob_session.cpp
  src/tateyama/grpc/blob_session_impl.h
  src/tateyama/grpc/logging.h
  src/tateyama/grpc/server/server.cpp
  src/tateyama/grpc/server/server.h
  src/tateyama/grpc/server/service_handler.h
Owners: @t-horikawa

add tests for grpc::blob_relay_service_resource
  docs/config-parameters-en.md
  docs/config_parameters.md
  include/tateyama/api/configuration.h
  include/tateyama/grpc/blob_relay_service_resource.h
  src/tateyama/grpc/blob_relay/blob_relay_service.h
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  test/CMakeLists.txt
  test/tateyama/grpc/blob_relay_service_resource_test.cpp
  test/tateyama/test_utils/utility.h
Owners: @t-horikawa

fix-test
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

fix-test
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

fix-typo
  include/tateyama/api/configuration.h
Owners: @t-horikawa

fix-test
  src/tateyama/datastore/resource/bridge.cpp
  src/tateyama/framework/transactional_kvs_resource.cpp
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

update-test
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

apply Copilot comments
  docs/config_parameters.md
  include/tateyama/grpc/blob_relay_service_resource.h
  src/tateyama/endpoint/ipc/bootstrap/ipc_listener.h
  src/tateyama/endpoint/stream/bootstrap/stream_listener.h
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  test/CMakeLists.txt
  test/tateyama/grpc/blob_relay_service_resource_test.cpp
Owners: @t-horikawa

initialization of blob_relay_service is skipped if blob_relay.enabled is false
  include/tateyama/api/configuration.h
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
Owners: @t-horikawa

fix Clang-Tidy warning (do not use 'std::endl' with streams; use '\n' instead)
  include/tateyama/api/configuration.h
Owners: @t-horikawa
