Repository project-tsurugi/tateyama, changes with the owners that .github/CODEOWNERS names for each.
All owners: @t-horikawa, @project-tsurugi/ci-maintainers, @kuron99

.github/CODEOWNERS:

* @t-horikawa

/.github/ @project-tsurugi/ci-maintainers

/include/tateyama/task_scheduler/
/include/tateyama/task_scheduler/ @kuron99
/test/tateyama/task_scheduler/
/test/tateyama/task_scheduler/ @kuron99
/examples/task_scheduler_cli/
/examples/task_scheduler_cli/ @kuron99

remove debug printout
  include/tateyama/api/configuration.h
Owners: @t-horikawa

add udf config
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa

change endpoint from localhost:50051 to dns:///localhost:50051
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa

add udf config
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa

change endpoint from localhost:50051 to dns:///localhost:50051
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa

change the relationship between resources; initialize datastore resource independently and pass it to transactional kvs resource
  include/tateyama/datastore/resource/bridge.h
  src/tateyama/datastore/resource/bridge.cpp
  src/tateyama/framework/server.cpp
  src/tateyama/framework/transactional_kvs_resource.cpp
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

add-test
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

build: eliminate extern "C" from main() of task_scheduler_cli and thread_affinity_cli
  examples/task_scheduler_cli/main.cpp
  examples/thread_affinity_cli/main.cpp
Owners: @kuron99, @t-horikawa

enable-test
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

avoid calling sharksfin::database_open (shirakami::init) on maintenance mode
  docs/internal/transactional_kvs_resource.md
  src/tateyama/framework/transactional_kvs_resource.cpp
Owners: @t-horikawa

fix-typo
  include/tateyama/api/configuration.h
Owners: @t-horikawa

update-test move to datastore_test
  test/tateyama/datastore/datastore_test.cpp
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

update-test dont skip with sharksfin-memory
  test/tateyama/datastore/datastore_test.cpp
Owners: @t-horikawa

ci setting
  .github/actions/install-dependencies/action.yml
Owners: @project-tsurugi/ci-maintainers

follow the update of design document for Tsurugi UDF
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/server/server.cpp
  src/tateyama/grpc/server/server.h
  test/tateyama/test_utils/utility.h
Owners: @t-horikawa

modify and enable a DISABLED-test in transactional_kvs_test
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

rearrange the tests in transactional_kvs_test and datastore_test
  test/tateyama/datastore/datastore_test.cpp
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

add fail-test to transactional_kvs_test
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

change the relationship between resources; initialize datastore resource independently and pass it to transactional kvs resource
  include/tateyama/datastore/resource/bridge.h
  src/tateyama/datastore/resource/bridge.cpp
  src/tateyama/framework/server.cpp
  src/tateyama/framework/transactional_kvs_resource.cpp
  test/tateyama/framework/transactional_kvs_test.cpp
Owners: @t-horikawa

update internal document about transactional_kvs_resource
  docs/internal/transactional_kvs_resource.md
Owners: @t-horikawa

avoid calling sharksfin::database_open (shirakami::init) on maintenance mode
  src/tateyama/framework/transactional_kvs_resource.cpp
Owners: @t-horikawa

fix-typo
  include/tateyama/api/configuration.h
Owners: @t-horikawa

adjust lifecycle handling of datastore_resource and test setup of datastore_test
  src/tateyama/datastore/resource/bridge.cpp
  test/tateyama/test_utils/test_server.h
Owners: @t-horikawa

remove unused
  include/tateyama/datastore/resource/bridge.h
  src/tateyama/datastore/resource/bridge.cpp
Owners: @t-horikawa

follow specification changes in the grpc_server and blob_relay sections of the configuration
  src/tateyama/grpc/blob_relay/blob_relay_service.h
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
  src/tateyama/grpc/server/server.cpp
  src/tateyama/grpc/server/server.h
Owners: @t-horikawa

fix clang-tidy warning
  src/tateyama/grpc/blob_relay/blob_relay_service.h
Owners: @t-horikawa

nables simultaneous test execution by multiple users
  src/tateyama/status/resource/bridge.cpp
Owners: @t-horikawa

revise request message handling in ipc_service_session_test
  test/tateyama/endpoint/ipc/ipc_service_session_test.cpp
Owners: @t-horikawa

make datastore_test pass
  test/tateyama/datastore/datastore_test.cpp
Owners: @t-horikawa

test: is OpenSSL sometimes thread-unsafe?
  test/tateyama/endpoint/ipc/ipc_service_session_test.cpp
Owners: @t-horikawa

call OPENSSL_thread_stop() manually
  test/tateyama/endpoint/ipc/ipc_service_session_test.cpp
Owners: @t-horikawa

docs: add config. param. `dev_enable_disjunction_range_hinting`
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa

build: fix dependency on -DENABLE_GRPC=OFF
  src/CMakeLists.txt
  test/CMakeLists.txt
Owners: @t-horikawa

implement session service
  include/tateyama/framework/component_ids.h
  src/CMakeLists.txt
  src/tateyama/framework/server.cpp
  src/tateyama/proto/system/diagnostic.proto
  src/tateyama/proto/system/request.proto
  src/tateyama/proto/system/response.proto
  src/tateyama/system/service/bridge.cpp
  src/tateyama/system/service/bridge.h
  src/tateyama/system/service/core.cpp
  src/tateyama/system/service/core.h
  src/tateyama/system/service/info_handler.h
  test/CMakeLists.txt
  test/tateyama/endpoint/ipc/connection_queue_test.cpp
  test/tateyama/endpoint/ipc/ipc_info_test.cpp
  test/tateyama/endpoint/ipc/ipc_lob_disallow_test.cpp
  test/tateyama/endpoint/ipc/ipc_lob_test.cpp
  test/tateyama/endpoint/ipc/ipc_session_test.cpp
  test/tateyama/endpoint/ipc/ipc_store_test.cpp
  test/tateyama/system/version_test.cpp
  test/tateyama/test_utils/test_server.h
  test/tateyama/test_utils/utility.h
Owners: @t-horikawa

use limestone::api::datastore::generate_reference_tag() instead of limestone::api::blob_pool::generate_reference_tag()
  src/tateyama/grpc/blob_relay/blob_relay_service.h
  src/tateyama/grpc/blob_relay_service_resource_impl.cpp
  src/tateyama/grpc/blob_relay_service_resource_impl.h
Owners: @t-horikawa

care of blob_relay.session_store in tests (test code change only)
  test/tateyama/framework/server_test.cpp
  test/tateyama/test_utils/utility.h
Owners: @t-horikawa

avoid returning raw pointer of the temporary object
  src/tateyama/grpc/blob_relay/blob_relay_service.h
Owners: @t-horikawa

implement session service
  include/tateyama/framework/component_ids.h
  src/CMakeLists.txt
  src/tateyama/endpoint/common/request.h
  src/tateyama/framework/server.cpp
  src/tateyama/proto/system/diagnostic.proto
  src/tateyama/proto/system/request.proto
  src/tateyama/proto/system/response.proto
  src/tateyama/system/service/bridge.cpp
  src/tateyama/system/service/bridge.h
  src/tateyama/system/service/core.cpp
  src/tateyama/system/service/core.h
  src/tateyama/system/service/info_handler.h
  test/CMakeLists.txt
  test/tateyama/endpoint/ipc/connection_queue_test.cpp
  test/tateyama/endpoint/ipc/ipc_info_test.cpp
  test/tateyama/endpoint/ipc/ipc_lob_disallow_test.cpp
  test/tateyama/endpoint/ipc/ipc_lob_test.cpp
  test/tateyama/endpoint/ipc/ipc_session_test.cpp
  test/tateyama/endpoint/ipc/ipc_store_test.cpp
  test/tateyama/system/system_info_test.cpp
  test/tateyama/test_utils/request_response.h
  test/tateyama/test_utils/test_server.h
  test/tateyama/test_utils/utility.h
Owners: @t-horikawa

fix clang-tidy warning
  src/tateyama/system/service/info_handler.h
Owners: @t-horikawa

docs: change dev_enable_disjunction_range_hinting default to true
  docs/config-parameters-en.md
  docs/config_parameters.md
Owners: @t-horikawa
